In [12]:
import pandas as pd
import numpy as np
import sys

In [13]:
# read  data
survey = pd.read_csv('Data/survey.csv')
indicators = pd.read_csv('Data/Development_Indicators.csv')

# Data Cleaning

In [14]:
# select the required field from clean the indicators dataset
indicator_filter = indicators[(indicators['Series Name'] == "Coverage of social insurance programs (% of population)")|(indicators['Series Name'] == "Coverage of social protection and labor programs (% of population)")|(indicators['Series Name'] == "Coverage of unemployment benefits and ALMP (% of population)")|(indicators['Series Name'] == "Educational attainment, at least completed primary, population 25+ years, total (%) (cumulative)")|(indicators['Series Name'] == "Employment to population ratio, 15+, female (%) (national estimate)")|(indicators['Series Name'] == "Employment to population ratio, 15+, male (%) (national estimate)")|(indicators['Series Name'] == "GDP per capita (current US$)")|(indicators['Series Name'] == "Labor force participation rate, female (% of female population ages 15+) (national estimate)")|(indicators['Series Name'] == "Labor force participation rate, male (% of male population ages 15+) (national estimate)")|(indicators['Series Name'] == "Labor force participation rate, total (% of total population ages 15+) (national estimate)")|(indicators['Series Name'] == "Labor force with basic education (% of total working-age population with basic education)")|(indicators['Series Name'] == "Labor force with basic education, female (% of female working-age population with basic education)")|(indicators['Series Name'] == "Life expectancy at birth, female (years)")|(indicators['Series Name'] == "Life expectancy at birth, total (years)")|(indicators['Series Name'] == "Population, total")|(indicators['Series Name'] == "Suicide mortality rate (per 100,000 population)")|(indicators['Series Name'] == "Suicide mortality rate, female (per 100,000 female population)")|(indicators['Series Name'] == "Suicide mortality rate, male (per 100,000 male population)")|(indicators['Series Name'] == "Unemployment with basic education (% of total labor force with basic education)")|(indicators['Series Name'] == "Unemployment with basic education, female (% of female labor force with basic education)")|(indicators['Series Name'] == "Unemployment with basic education, male (% of male labor force with basic education)")]
# rename year column
rename_df=indicator_filter.rename(columns = {'2014 [YR2014]':'2014','2015 [YR2015]':'2015','2016 [YR2016]':'2016','2017 [YR2017]':'2017','2018 [YR2018]':'2018','2019 [YR2019]':'2019'})

In [17]:
# Drop column we don't need 
dropeddata=rename_df.drop(columns=['Series Code'])
transposed = dropeddata.pivot_table(index=['Country Name','Country Code'], columns=['Series Name'], aggfunc='first', fill_value=0)
# 2014 
reset_2014=transposed['2014'].reset_index()
reset_2014['Year']= 2014
# 2015 
reset_2015=transposed['2015'].reset_index()
reset_2015['Year']= 2015
# 2016 
reset_2016=transposed['2016'].reset_index()
reset_2016['Year']= 2016
# 2017 
reset_2017=transposed['2017'].reset_index()
reset_2017['Year']= 2017

# 2018 
reset_2018=transposed['2018'].reset_index()
reset_2018['Year']= 2018
# 2019
reset_2019=transposed['2019'].reset_index()
reset_2019['Year']= 2019

all_year = [reset_2014, reset_2015,reset_2016,reset_2017,reset_2018,reset_2019]
all_year_data= pd.concat(all_year)

# Rename column
indicator_cleandata=all_year_data.rename(columns={"Coverage of social insurance programs (% of population)": "social_insurance",
                              "Coverage of social protection and labor programs (% of population)": "social_protection",
                              "Coverage of unemployment benefits and ALMP (% of population)":"unemployment_benefits",
                              "Educational attainment, at least completed primary, population 25+ years, total (%) (cumulative)": "Educational_attainment",
                              "Employment to population ratio, 15+, female (%) (national estimate)":"Female_employment",
                              "Employment to population ratio, 15+, male (%) (national estimate)": "Male_employment",
                              "GDP per capita (current US$)": "GDP_per_capita(US$)",
                              "Labor force participation rate, female (% of female population ages 15+) (national estimate)": "Labor_force_rate_female",
                              "Labor force participation rate, male (% of male population ages 15+) (national estimate)": "Labor_force_rate_male",
                              "Labor force participation rate, total (% of total population ages 15+) (national estimate)": "Labor_force_total",
                              "Labor force with basic education (% of total working-age population with basic education)":"Labour_force_with_basic_education",
                              "Labor force with basic education, female (% of female working-age population with basic education)":"Labour_force_with_basic_education_female",
                              "Life expectancy at birth, female (years)":"life_expectancy_female","Life expectancy at birth, male (years)": "Life_expectancy_male",
                              "Life expectancy at birth, total (years)":"Life_expectancy_total","Population, total":"Total_population",
                              "Suicide mortality rate (per 100,000 population)":"Suicide_mortality_rate_per_100k",
                              "Suicide mortality rate, female (per 100,000 female population)":"Suicide_mortality_rate_per_100k_female",
                              "Suicide mortality rate, male (per 100,000 male population)":"Suicide_mortality_rate_per_100k_male",
                              "Unemployment with basic education (% of total labor force with basic education)":"unemployment_with_basic_education_total",
                              "Unemployment with basic education, female (% of female labor force with basic education)":"Unemployment_with_basic_education_female",
                              "Unemployment with basic education, male (% of male labor force with basic education)":"Unemployment_with_basic_education_male"})
indicator_cleandata.to_csv('clean_indicator.csv')
indicator_cleandata

Series Name,Country Name,Country Code,social_insurance,social_protection,unemployment_benefits,Educational_attainment,Female_employment,Male_employment,GDP_per_capita(US$),Labor_force_rate_female,...,life_expectancy_female,Life_expectancy_total,Total_population,Suicide_mortality_rate_per_100k,Suicide_mortality_rate_per_100k_female,Suicide_mortality_rate_per_100k_male,unemployment_with_basic_education_total,Unemployment_with_basic_education_female,Unemployment_with_basic_education_male,Year
0,Afghanistan,AFG,0.000000,0.000000,0.000000,0.000000,23.177000,71.530197,613.856689,25.784300,...,64.453,62.966,3.337079e+07,0.0,0.0,0.0,7.380100,14.0912,6.140500,2014
1,Albania,ALB,0.000000,0.000000,0.000000,0.000000,37.157101,50.734901,4578.631994,43.983601,...,80.045,77.813,2.889104e+06,0.0,0.0,0.0,15.071700,10.7487,18.591000,2014
2,Algeria,DZA,0.000000,0.000000,0.000000,0.000000,12.350000,60.139999,5493.025590,15.577800,...,77.085,75.878,3.892369e+07,0.0,0.0,0.0,0.000000,0.0000,0.000000,2014
3,American Samoa,ASM,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,11507.232350,0.000000,...,0.000,0.000,5.579100e+04,0.0,0.0,0.0,0.000000,0.0000,0.000000,2014
4,Andorra,AND,0.000000,0.000000,0.000000,96.534492,0.000000,0.000000,41303.929370,0.000000,...,0.000,0.000,7.921300e+04,0.0,0.0,0.0,0.000000,0.0000,0.000000,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258,West Bank and Gaza,PSE,0.000000,0.000000,0.000000,0.000000,10.611500,54.922401,0.000000,18.044001,...,0.000,0.000,4.685306e+06,0.0,0.0,0.0,22.505501,18.9575,22.741699,2019
259,World,WLD,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,11428.569850,0.000000,...,0.000,0.000,7.673534e+09,0.0,0.0,0.0,0.000000,0.0000,0.000000,2019
260,"Yemen, Rep.",YEM,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000,0.000,2.916192e+07,0.0,0.0,0.0,0.000000,0.0000,0.000000,2019
261,Zambia,ZMB,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1291.343357,0.000000,...,0.000,0.000,1.786103e+07,0.0,0.0,0.0,0.000000,0.0000,0.000000,2019
262,Zimbabwe,ZWE,4.807448,36.742774,1.540269,0.000000,28.419600,44.281101,1463.985910,34.615200,...,0.000,0.000,1.464547e+07,0.0,0.0,0.0,14.758000,15.1226,14.425500,2019